

@font-face{
  font-family: "Arcade";
  src: url('font/ARCADE.TTF');
}


@font-face{
  font-family: "Fighter";
  src: url('font/Act_Of_Rejection.ttf');
}


@font-face{
  font-family: "Pixel";
  src: url('font/PressStart2P-Regular.ttf');
}

/* hidden font required to load pixi fonts */
#fontActive{ 
  font-family: "Arcade";
  font-size: 0px;
}

body{
  margin: 0px;
  padding: 0px;
  font-family: "Pixel";
  height:100vh;
  font-size:0.7rem;
  overflow: hidden;
  background: linear-gradient(180deg, white 65%, orange);
  z-index:1;
}

h2{
  text-align: center;
  font-size: 2.3rem;
  font-family: "Fighter";
}

li{ 
  margin-bottom: 10px;  
}


#container {
  width:100vw;
  display: flex;
  flex-direction: row;
  justify-content:space-between; 
}

#leftSide{
  color:black;
  width: 15%;
  margin-left: auto;
  margin-right: auto;
  padding:1rem;
  height: 520px;
  position: relative;
}

#rules{
  align-self:center;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

}

#rightSide{
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  height: 520px;
  position:relative
}

#links{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
}

.linkTiles{
  padding:2rem;
  margin-top:auto;
  text-align: center;
  font-size:0.7rem;
}

#credit{
  position:absolute; 
  bottom:0;
  padding-left:2rem;
}


i{
  font-size:1.5rem;
  color:black;
}

i:hover{
  top: -15px;
  color: grey;
}

#time{
  font-family: "Arcade";
  font-size: 5rem;
  text-align: center;
  width:100vw;
}